:root {
    --body-color: #eff2f3;
    --main-color: #026bb7;
    --secondary-color: #957e4d;
    --text-color: #717d85;
    --link-color: #a2b3be;
    --bg-linear: linear-gradient(180deg, #eef2f3 0%, rgba(238, 242, 243, 0.31) 53.65%, rgba(238, 242, 243, 0) 100%);
}

.scroller ::-webkit-scrollbar {
    width: 6px;
    /* Set the width of the scrollbar */
    height: 6px;
    /* Set the height of the scrollbar */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Customize the scrollbar thumb */

.scroller ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    /* Set the color of the scrollbar thumb */
    border-radius: 3px;
    /* Add border-radius for a slightly rounded appearance */
}


/* Customize the scrollbar track */

.scroller ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    /* Set the color of the scrollbar track */
    border-radius: 3px;
    /* Add border-radius for a slightly rounded appearance */
}

body {
    max-width: 1440px;
    margin: auto !important;
    padding: 0 3.429rem;
    background-color: #EFF2F3;
    font-family: "Cairo";
}

.btn-hover:hover,
.btn-hover:active {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    padding: 0 !important;
    -webkit-box-shadow: 0px 5px 9px -7px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 5px 9px -7px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 5px 9px -7px rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

main {
    background-color: #fff;
}

nav.navbar {
    direction: rtl;
}

nav a.navbar-brand .logo {
    height: 50px;
    padding-left: 5px;
}

nav a.navbar-brand .logo2030 {
    width: 45px;
    border-right: var(--text-color) 1px solid;
    padding-right: 10px;
    margin-top: 15px;
}

nav ul.navbar-nav {
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.navbar-nav .nav-link,
.dropdown-item {
    color: var(--link-color);
    text-align: right;
    font-size: 18px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.dropdown-item:hover,
.btn-nav a,
li.nav-item .sRow {
    color: var(--main-color);
}

.dropdown-menu {
    border: none;
}

.dropdown-item.active {
    &:visited {
        color: #fff;
    }
}

.dropdown-item:active {
    color: #fff;
}

.dropdown-toggle::after {
    content: "";
    border: none;
}

.dropdown-toggle i::before {
    font-size: 12px;
    transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-link[aria-expanded="true"] i::before {
    transform-origin: 60% 40%;
    transform: rotate(180deg);
}

.navbar-nav .nav-link[aria-expanded="false"] i::before {
    transform-origin: 60% 40%;
    transform: rotate(0deg);
}

.btn-nav {
    border: 2px solid var(--main-color);
    border-radius: 15px;
    color: var(--main-color);
    padding: 5px 10px;
}


/* end navbar */


/* contact section */

.contact,
footer {
    background: transparent linear-gradient(180deg, #eef2f3 0%, #ffffff 100%);
}

.rtl {
    direction: rtl;
}

.contact .image {
    background-image: url(../images/home/riyadah-footer.svg);
    background-size: 90%90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    max-height: 252px;
}

.contact {
    & li {
        color: var(--text-color);
    }
    & h4 {
        color: var(--text-color);
        font-weight: 500;
        font-size: 20px;
    }
    & .stores {
        height: 80%;
    }
}

.contact-apps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.contact ul li {
    color: var(--link-color);
    line-height: 34px;
    font-size: 20px;
    font-weight: 300;
    text-align: right;
}

.contact .links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: color 0.2s ease-in-out;
    &:hover {
        background-color: #fff;
        color: var(--main-color);
        border: 1px solid var(--main-color);
        & a {
            color: var(--main-color);
        }
    }
}

.contact .links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}


/* end contact */


/* start footer */

footer p {
    color: var(--text-color);
    text-align: center;
    padding-block: 15px;
    border-top: 1px solid #E0E4E5;
    background: #fff;
    margin-bottom: 0;
}


/* end footer */

.p-inline-35 {
    padding-inline: 35px;
}

.scroll-top {
    position: fixed;
    bottom: 40px;
    left: 20px;
    background-color: var(--main-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(29, 29, 29, 0.14);
    -moz-box-shadow: 0px 0px 15px 0px rgba(29, 29, 29, 0.14);
    box-shadow: 0px 0px 15px 0px rgba(29, 29, 29, 0.14);
    z-index: 20;
    & a {
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
    }
}

@media(max-width :575.98px) {
    .contact {
        & .stores {
            height: 35%;
        }
    }
}