.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.page-header {
    position: relative;
}

.page-header .image {
    position: relative;
    position: relative;
    background-image: url(../images/overview/Overview-banner.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    max-height: 302px;
    background-repeat: no-repeat;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60%;
        background: rgb(255, 255, 255);
        background: linear-gradient( 180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6867121848739496) 100%);
    }
}

.page-header .layer {
    background: rgba(17, 17, 17, 0.297);
    color: #fff;
    padding-block: 20px;
    padding-right: 70px;
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    p {
        font-weight: 300;
        & a {
            color: #fff;
        }
    }
}

.page-header .image p {
    color: #fff;
    font-size: 30px;
    /*36px*/
    font-weight: 500;
    position: absolute;
    top: 60%;
    right: 100px;
    z-index: 1;
}

.main .container {
    width: 85%;
    box-shadow: 0 0 50px #00000029;
    border-radius: 10px;
}


/* .main .logo {
    background-color: #F5F9FC;
    border-radius: 25px;
    background-image: url(../images/overview/riyadah-footer.svg);
    background-position: center;
    background-size: 90%90%;
    background-repeat: no-repeat;
    max-height: 200px;
    height: 200px;
    width: 85%;
} */

.main .caption p {
    color: #717d85;
    font-size: 18px;
    line-height: 1.4rem;
}

.pages-card {
    display: flex;
    align-items: center;
    justify-content: center;
    & .card-img {
        background-color: #f5f9fc;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 120px;
        & img {
            width: inherit;
            object-fit: contain;
        }
    }
}


/* .main .container {
    width: 80%;
    box-shadow: 0 0 50px #00000029;
    border-radius: 35px;
  }
  .main .logo {
    background-color: #f5f9fc;
    border-radius: 18px;
  }
  .main .caption p {
    color: #717d85;
    font-size: 22px;
  } */

.main .container {
    width: 80%;
    box-shadow: 0 0 50px #00000029;
    border-radius: 10px;
}

.main .logo {
    background-color: #f5f9fc;
    border-radius: 10px;
    max-width: 300px;
}

.main .caption h2 {
    color: #026bb7;
    font-weight: bold;
    font-size: 26px;
}


/* goals */

.main .goals h2 {
    margin-right: 11%;
    color: #026bb7;
    font-weight: bold;
    font-size: 26px;
}

.main .goals ul {
    padding: 15px;
    color: #717d85;
}

.main .goals ul li {
    margin: 8px;
}

.main .goals ul i {
    color: #b09d6d;
}


/* end goals */


/* our paterns */

.main .caption a.paterns-links {
    color: #026bb7;
}

.main .paterns-logo {
    width: 30%;
}

.main .paterns-logo img {
    width: 100%;
}


/* end our paterns*/

.main .btnLeft {
    direction: ltr;
}

.main button.btn-programs {
    border: 2px solid #006fb0;
    padding: 5px 20px;
    border-radius: 15px;
    direction: rtl;
}

.main button.btn-programs a {
    text-decoration: none;
    color: #006fb0;
}


/* start our programs*/


/* end our programs*/


/* start apply */

.main .goals .content i {
    color: #b09d6d;
}

.main .goals .content span {
    color: #717d85;
    font-size: 18px;
}

.programApply {
    width: 80%;
    margin: 50px auto;
    background-color: #f6f9fc;
    border: 1px solid #eff2f3;
    border-radius: 10px;
}

.programApply .active {
    background-color: #026bb7;
    color: #fff;
    border: 2px solid #026bb7;
}

.inner {
    border-radius: 10px;
    color: var(--text-color);
}

.nav-program {
    border-radius: 10px;
    button {
        border-radius: 10px;
    }
}


/* end apply */


/* start news */

.main .counterPage {
    border: 1px solid #a2b3be;
    border-radius: 15px;
    width: 350px;
    margin: auto;
    overflow: hidden;
}

.main .counterPage .last {
    background-color: #a2b3be;
}

.main .counterPage .active {
    background-color: #006fb0;
}

.main .counterPage div:not(.next) {
    border-left: 1px solid #a2b3be;
}

.main .counterPage a {
    color: #717d85;
}

.main .counterPage .last a {
    color: #ebebeb;
}

.main .counterPage .active a {
    color: #fff;
}


/* end news */


/* start branches */

.main .location {
    margin-right: 11%;
}

.main .location label {
    font-weight: 700;
    margin-left: 20px;
}

.main .location select {
    width: 200px;
    color: #717d85;
    border: #a2b3be 1px solid;
    border-radius: 10px;
    padding: 3px 5px;
    outline-color: #026bb7;
}

.main .branche-container {
    width: 80%;
    margin: auto;
}

.main .card {
    box-shadow: 0px 0px 50px #00000029;
    border-radius: 10px;
    p {
        height: 80px;
    }
    .list-unstyled {
        height: 80px;
        color: var(--text-color);
    }
}

.main .card img {
    width: 80px;
    height: 80px;
    margin: auto;
}

.main .card h3 {
    font-size: 24px;
    color: #026bb7;
    font-weight: bold;
    height: 50px;
}

.main .card ul li img {
    margin-inline: 3px;
    width: 20px;
    height: 20px;
}

.main .card .ltr {
    direction: ltr;
}


/* end branches */

.main .card label {
    width: 30%;
    color: var(--text-color);
}

.main .card input,
.main .card textarea {
    caret-color: #1790e7;
    border-radius: 10px;
}


/* readmore */

.main .main-container {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

.main .main-container h2 {
    font-size: 26px;
    font-weight: bold;
    color: #026bb7;
}

.main .main-container span,
.main .main-container p {
    color: #717d85;
    font-size: 16px;
    padding-block: 5px;
}

.main .main-container p {
    font-size: 19px;
    line-height: 1.7rem;
}


/* readmore */


/* privacy */

.main .goals .privacy-icon {
    width: 10px;
    height: 5px;
    color: #b09d6d;
    margin-left: 10px;
}

.main .goals .privacy-icon i {
    border: 2px solid #b09d6d;
    padding-inline: 5px;
    border-radius: 10px;
}


/* privacy */


/* goals */

.main .goals h2 {
    margin-right: 11%;
    color: #026bb7;
    font-weight: bold;
}

.main .goals ul {
    padding: 15px;
    color: #717d85;
}

.main .goals ul li {
    margin: 8px;
}

.main .goals ul i {
    color: #b09d6d;
}


/* end goals */


/* start manager */

.manager-card .card {
    margin-block: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #00000029;
    border: none;
    padding: 7px;
}

.manager-card .card img {
    border-radius: 10px;
    margin-bottom: 10px;
}

.manager-card .card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #026bb7;
    padding-block: 5px;
}


/* end manager */


/* contact section */

.contact,
footer {
    background: transparent linear-gradient(180deg, #eef2f3 0%, #ffffff 100%);
}

.rtl {
    direction: rtl;
}

.contact .image {
    width: 150px;
}

.contact .image img {
    width: 100%;
}

.contact ul li {
    color: var(--link-color);
    line-height: 34px;
    font-size: 20px;
    font-weight: 300;
    text-align: right;
}


/* login & register */

.login-card,
.register-card {
    border-radius: 10px;
    .card {
        max-width: 840px;
        border-radius: 10px;
        /* padding-block: 10px; */
        box-shadow: 0 0 50px #00000029;
        border: none;
    }
    .col-md-4 {
        padding-block: 20px;
        background-color: #F5F9FC;
        border-radius: 10px;
        img {
            width: auto;
            border-radius: 10px;
        }
    }
    .col-md-8 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form {
        padding: 20px;
        .form-check-input {
            float: none;
            margin-left: 0;
        }
    }
    label,
    input,
    select {
        color: var(--text-color);
    }
}

.register-card {
    .card {
        max-width: 950px;
        .card-header {
            border: none;
        }
        h5 {
            color: var(--main-color);
        }
    }
}

.modal-body {
    label,
    input,
    select {
        color: var(--text-color);
    }
}

.modal-header {
    background-color: #f5f9fc;
    border-bottom: none;
    h5 {
        color: var(--main-color);
    }
    .bi-x-lg {
        cursor: pointer;
    }
}

.modal-footer {
    border-top: none;
}


/* login & register */


/* start media query */


/* X-Large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {
    .navbar-nav .nav-link,
    .dropdown-item {
        font-size: 17px;
    }
}


/*  Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    body {
        padding: 0;
    }
    nav ul.navbar-nav {
        width: 100%;
        justify-content: space-around;
        align-items: start;
    }
    nav .nav-item .sRow {
        display: none;
    }
    .main .news-container,
    .main .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main .news-container .logo {
        width: 90%;
        text-align: center;
    }
    .main .paterns-logo {
        width: 300px;
    }
}


/*  Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .page-header .layer {
        font-size: 20px;
    }
    .main .news-container,
    .main .container {
        flex-wrap: wrap;
        justify-content: center;
    }
}


/*  X-Small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .page-header .layer {
        font-size: 17px;
        padding-right: 16px;
    }
    .page-header .image p {
        top: 60%;
        right: 16px;
    }
    .contact .smallWidth {
        width: 50%;
    }
}


/* special screen  */

@media (max-width: 400px) {
    .page-header .layer {
        font-size: 16px;
    }
    .contact ul li {
        font-size: 14px;
    }
}


/* .main .caption p {
    color: #717d85;
    font-size: 18px;
} */


/* .main .caption h2 {
    color: #026bb7;
    font-weight: bold;
    font-size: 30px;
} */