.form-box {
    padding-top: 40px;
}

.f1 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.f1 h3 {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.f1-steps {
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f1-progress {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 95.1%;
    height: 5px;
    background: #a2b3be;
}

.f1-progress-line {
    position: absolute;
    top: 0;
    right: 0;
    height: 5px;
    background: var(--main-color);
}

.f1-step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.f1-step-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 4px;
    background: #a2b3be;
    color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
}

.f1-step.activated .f1-step-icon {
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.f1-step.active .f1-step-icon {
    width: 60px;
    height: 60px;
    margin-top: 0;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
}

.f1-step p {
    color: #a2b3be;
    font-weight: 700;
}

.f1-step.activated p {
    color: var(--main-color);
}

.f1-step.active p {
    color: var(--main-color);
}

label,
input,
select {
    color: var(--text-color);
}

.f1 fieldset {
    display: none;
    .container-fluid {
        background-color: #fff;
        /* padding: 15px 35px; */
        border-radius: 10px;
        margin-block: 40px;
        box-shadow: 0px 0px 50px #00000029;
    }
    h5 {
        color: var(--main-color);
        font-weight: 700;
        margin-bottom: 20px;
    }
    .text-area {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-left: 38px;
    }
    textarea {
        width: calc(100% - 50px);
    }
}
.field-header {
    background-color: #FCFCFC;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 7px 15px;
}

.table {
    border-radius: 10px;
}

.table tbody tr td {
    vertical-align: middle;
    color: var(--text-color);
    font-size: 10px;
    font-weight: 700;
}

.table thead tr th {
    background-color: var(--main-color) !important;
    color: #fff !important;
    font-weight: 500;
    font-size: 12px;
    &:first-child {
        border-top-right-radius: 4px;
    }
    &:last-child {
        border-top-left-radius: 4px;
    }
}

td small.alert {
    display: block;
    padding: 0px;
    width: 65px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    margin: auto;
}

form {
    padding: 20px;
    .form-check-input {
        float: none;
        margin-left: 0;
    }
    small {
        font-size: 12px;
    }
}

.alert p {
    margin-bottom: 0;
}


/* request details */

.requests-details{
         .nav-link{
            background-color: #A2B3BE;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            width:100%;
            font-size: 12px;
            img{
                scale: .6;
            }
        }
        .count{
            background-color: #fff;
            font-size: 10px;
            padding: 2px 5px;
            border-radius: 4px;
            color: var(--text-color);
        }
}

/* request details */

@media (min-width: 1400px) {
    .f1 fieldset {
        textarea {
            width: calc(100% - 45px);
        }
    }
}

@media (max-width: 1300px) {
    .f1 fieldset {
        textarea {
            width: calc(100% - 40px);
        }
    }
}

@media (max-width: 1999px) {
    .f1 fieldset {
        textarea {
            width: calc(100% - 45px);
        }
    }
}

@media (max-width: 1000px) {
    .f1 fieldset {
        textarea {
            width: calc(100% - 25px);
        }
    }
    .f1-step .f1-step-icon {
        width: 50px;
        height: 50px;
    }
    .f1-step.active .f1-step-icon {
        width: 50px;
        height: 50px;
    }
    .f1-step p {
        font-size: 10px;
    }
}

@media (max-width: 765px) {
    .f1-steps {
        overflow-x: auto;
    }
    .f1 fieldset {
        .text-area {
            display: block;
            padding-left: 0;
        }
        textarea {
            width: calc(100% - 10px);
        }
    }
    .f1-progress {
        top: 26px;
        width: 88%;
    }
    .container {
        max-width: none;
    }
}

@media (max-width: 570px) {
    .f1 fieldset {
        .text-area {
            display: block;
            padding-left: 0;
        }
        textarea {
            width: calc(100%);
        }
    }
}

@media (max-width: 500px) {
    .f1-step .f1-step-icon {
        width: 35px;
        height: 35px;
        img {
            scale: 0.6;
        }
    }
    .f1-step.active .f1-step-icon {
        width: 35px;
        height: 35px;
        img {
            scale: 0.6;
        }
    }
    .f1-step p {
        font-size: 9px;
    }
    .f1-progress {
        top: 18px;
        width: 80%;
    }
}