<section class="contact my-3 p-5">
    <div class="row rtl">
        <div class="col-lg-2 col-sm-12">
            <div class="image p-3">
                <!-- <img src="./images/home/riyadah-footer.svg" alt="riyadah logo" /> -->
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <ul class="list-unstyled px-2">
                        <li>عن ريادة</li>
                        <li>برامجنا</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <ul class="list-unstyled px-2">
                        <li>تقديم طلبات الدعم</li>
                        <li>الدخول إلي طلبك</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <ul class="list-unstyled px-2">
                        <li>إتصل بنا - فروع ريادة</li>
                        <li>إتصل بنا - الإدارة العامة</li>
                        <li>الإستخدام الآمن والخصوصية</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <ul class="list-unstyled px-2">
                        <li>دخول الموظف</li>
                        <li>بريد الموظف</li>
                        <li>دخول المتعاون</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h4>تحميل التطبيق</h4>
                    <div class="row mt-3">
                        <div class="col-12">
                            <img class="stores" src="./images/home/googleplay-1.png" alt />
                            <img class="stores" src="./images/home/appstore-1.png" alt />
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 mt-3 col-md-12">
                    <h4>تابعنا على</h4>
                    <div class="social-links d-flex align-items-center gap-3">
                        <div class="links">
                            <a href="https://youtube.com" target="_blank">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                        <div class="links">
                            <a href="https://linkedin.com" target="_blank">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </div>
                        <div class="links">
                            <a href="https://twitter.com" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                                <!-- <i class="fa-brands fa-x-twitter"></i> -->
                                <!-- <img src="./images/home/x-twitter.svg" alt=""> -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<footer>
    <p>ريادة.. معهد ريادة الأعمال الوطني | جميع الحقوق محفوظة 2023</p>
</footer>