<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img class="logo" src="./images/home/logo.svg" alt="ريادة ويب سايت" />
            <img class="logo2030" src="./images/home/2030.svg" alt="2030" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        عن ريادة
                        <span><i class="fa-solid fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="./overview.html">لمحة
                                    عامة</a></li>
                        <li><a class="dropdown-item" href="#">الرؤية
                                والرسالة</a></li>
                        <li><a class="dropdown-item" href="#">الأهداف
                                والخدمات</a></li>
                        <li><a class="dropdown-item" href="#">شركاؤنا</a></li>
                        <li><a class="dropdown-item" href="#">مجلس
                                الأدارة</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        برامجنا
                        <span><i class="fa-solid fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">برامج
                                دعم المشاريع</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        أتصل بنا
                        <span><i class="fa-solid fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">خروج
                                ريادة</a></li>
                        <li><a class="dropdown-item" href="#">الأدارة
                                العامة</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">رأيك يهمنا</a>
                </li>
                <li class="nav-item">
                    <span class="sRow">|</span>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary">
                        <div class="far fa-user"></div>
                        تسجيل دخول
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>